/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * CONTENIDO...........Lo estás leyendo!!
 * FUENTE..............Establece los valores iniciales
 * COLORES...........Cambiar la base de calculo rm
 */

/*------------------------------------*\
    $FUENTE
\*------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

/*------------------------------------*\
    $Encabezados
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f3d56;
  font-weight: 300;
}

/*------------------------------------*\
    $Utilidades
\*------------------------------------*/
.container {
  width: 90%;
  max-width: 100rem;
  /* centra automaticamente */
  margin: 0 auto;
  /* si algo es mas grande lo corta */
  overflow: hidden;
}

/*------------------------------------*\
    $Header
\*------------------------------------*/

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #fffbfe; */
  background-color: #fff;
}

/* nav-bar */

/**
* Como barra esta como fixed creamos un elemento ficticio que ocupe ese espacio
*/
/* header::before {
  content: "";
  display: block;
  margin-bottom: 7rem;
} */
.nav-bar {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  border-bottom: 0.1rem solid transparent;
  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-bar__wrapper {
  height: 100%;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__image {
  height: 100%;
  vertical-align: top;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-bar__menu {
  /* height: 100%; */
  display: flex;
  font-weight: 300;
}

.nav-bar__link {
  text-decoration: none;
  color: #7a799c;
  margin-left: 2rem;
}

.nav-bar__link:hover {
  color: #d8644f;
  transition: color 0.5s;
}

.nav-bar__hamburguer {
  height: 100%;
  width: 7rem;
  color: #fff;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: color 0.5s ease-in;
  display: none;
  font-size: 2.4rem;
  line-height: 7rem;
}

/* hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cadetblue; */
  padding-bottom: 14rem;
}

.hero__image {
  width: 55rem;
  /* width: 120rem; */
  /* background-color: blue; */
  animation: ease-in img-animate 1s;
}
@keyframes img-animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.hero__content {
  /* background-color: blueviolet; */
  margin-right: 2rem;
  margin-left: 3rem;
}

.hero__parrafo {
  font-weight: 300;
  color: #7a799c;
}

.hero__title {
  line-height: 1.1;
}

.hero__button {
  background-color: rgb(226, 128, 65);
  width: 13rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 1.2rem 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.8rem 3.2rem rgba(226, 127, 65, 0.568);
}

/*------------------------------------*\
    $Services
\*------------------------------------*/

#service {
  margin-top: 6rem;
}

.service__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__service {
  width: calc(33.3% - 2.5rem);
  background-color: white;
  border-radius: 1rem;
  padding: 4.5rem 3rem 5rem 3rem;
  transition: 0.5s;
  margin-bottom: 2.4rem;
}

.card__service:hover {
  box-shadow: 0 0.4rem 1rem rgba(17, 29, 48, 0.26);
}
.card__image {
  font-size: 3rem;
  color: #fff;
  background: rgb(216, 100, 79);
  display: inline-block;
  width: 7rem;
  height: 7rem;
  text-align: center;
  padding-top: 2rem;
  border-radius: 50%;
  box-shadow: 0 0.8rem 3.2rem rgba(216, 100, 79, 0.46);
  margin-bottom: 2.4rem;
}

.card__title {
  font-size: 2.4rem; /* 24px */
  line-height: 1; /* 24px */
  height: 5rem;
}
.card__parrafo {
  font-weight: 300;
  color: #7a799c;
}

.service__link {
  text-decoration: none;
  bottom: 0;
  font-weight: 400;
  color: #7a799c;
}

.service__link:hover {
  color: #e28041;
  transition: color 0.5s;
}
.char {
  font-size: 3.2rem;
}
/*------------------------------------*\
    $Contact
\*------------------------------------*/

/* .hero__image--contact {
  width: 170rem;
} */

.hero__image--contact {
  animation: ease-in none;
}

.hero--contact {
  height: 80vh;
  padding-bottom: 1rem;
}

/*------------------------------------*\
    $Results
\*------------------------------------*/

.results {
  background-color: #2570ff;
  padding-top: 4rem;
}

.result__container {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0;
}

.results__card {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.result__item {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  margin-bottom: 2rem;
}

.result__number {
  font-weight: 500;
  color: #fff;
}

.result__paragrafh {
  color: #fff;
  font-weight: 300;
}

.result__text {
  width: 37%;
}

.result__title {
  color: #fff;
}

.result__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 0.1rem solid #fff;
  padding: 1rem 0;
  width: 12rem;
  text-align: center;
  border-radius: 0.5rem;
}

/*------------------------------------*\
    $Beneficios
\*------------------------------------*/

#beneficios {
  background-color: #fff;
}

.benefit__title {
  padding-top: 6rem;
}

.benefit {
  display: flex;
  justify-content: space-between;
}

.benefit__img {
  width: 55rem;
}
.benefit__list {
  margin: 5rem 5rem 0 0;
}

.benefit__item {
  background-color: #e0e0e057;
  width: 35rem;
  border-radius: 0.6rem;
  padding: 1rem 0 1rem 1.5rem;
  margin-bottom: 1rem;
  color: #1d273b;
  font-weight: 300;
}

.benefit__icon {
  color: #d8644f;
}

/*------------------------------------*\
    $Footer
\*------------------------------------*/
.footer {
  padding-top: 6rem;
  margin: auto;
}

.footer__autor {
  background-color: #3f3d56;
  color: #f2f2f2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0.5rem 0;
  font-weight: 300;
}
.author__link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.author__link:hover {
  color: #d8644f;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.footer--width {
  width: 20%;
  text-align: center;
}

.footer__title {
  font-weight: 500;
}

.footer__link {
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: #e28041;
  font-weight: 300;
}

.footer__icon {
  display: flex;
  justify-content: space-evenly;
}

.social__icon {
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  font-size: 2rem;
  border: 0.1rem solid #5d6678;
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
  margin-top: 2rem;
  line-height: 3.6rem;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.social__icon:hover {
  color: #fff;
  border: 0.2rem solid #fff;
  background-color: #d8644f;
}
